@model ASPRPG.Models.Enemy

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/css/Enemy.css" asp-append-version="true" />
</head>
<body>

<h4>Enemy</h4>
<hr />
<div class="row">
    <div class="colo">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Health" class="control-label"></label>
                <input asp-for="Health" class="form-control" />
                <span asp-validation-for="Health" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attack" class="control-label"></label>
                <input asp-for="Attack" class="form-control" />
                <span asp-validation-for="Attack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Defense" class="control-label"></label>
                <input asp-for="Defense" class="form-control" />
                <span asp-validation-for="Defense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                    <div class="input-group" style="position: relative; width: 100%; height: 50px;">
                        <input asp-for="Icon" id="Icon" class="form-control" />
                        <span class="input-group-addon">
                            <i id="iconPreview" class="" style="transform: translate(10px, 10px);"></i>
                        </span>
                </div>
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
    </div>
</div>

<script>
   const input = document.getElementById("Icon");
   const preview = document.getElementById("iconPreview");

   input.addEventListener("input", function(){
       preview.className = `fa-duotone fa-${input.value}`;
   });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

</body>
</html>
